<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Angular Performance</title>

		<meta name="description" content="Javascript debugging beyound basics">
		<meta name="author" content="that js dude">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/serif.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Angular JS</h1>
					<h2>Performance</h2>
					<br>
					<br>
					<!-- <h3 class="fragment"><a href="http://goo.gl/mfKvWP">goo.gl/mfKvWP</a></h3> -->
					<br>
					<br>
						<h4>
							<a href="http://www.thatjsdude.com/">www.thatJSDude.com</a> / <a href="http://twitter.com/mdkhan005">@mdkhan005</a>
						</h4>
					<p>(youtube.com/user/khanLearning)</p>
				</section>
				<section>
					<section>
						<h2>ToDos</h2>
						<li>create a flow chart for ng repeat</li>
					</section>
				</section>
				<section>
					<h2>links</h2>
					<ul>
						<li><a href="http://stackoverflow.com/questions/17656397/angular-js-scaling-performance">check it: stackoverflow some discussion</a></li>
						<li><a href="http://bahmutov.calepin.co/improving-angular-web-app-performance-example.html">long: perf with example</a></li>
						<li></li>
						<li><a href="http://de.slideshare.net/dragosrusu/angularjs-overcoming-performance-issues-limits">slide: check this slide</a></li>
						<li><a href="http://www.slideshare.net/damienklinnert/angular-performance-tuning-for-large">another slide</a></li>
						<li><a href="https://www.youtube.com/watch?v=gEjmv5gwF60">video: explains Batarang</a></li>
						<li></li>
						<li><a href="http://dapperdeveloper.com/2015/01/26/performance-of-angularjs-reactjs-and-knockoutjs-compared/">with react and knockout</a></li>
						<li><a href="http://voidcanvas.com/emberjs-vs-angularjs-performance-testing/">with ember</a></li>
						<li><a href="https://www.codementor.io/reactjs/tutorial/reactjs-vs-angular-js-performance-comparison-knockout">another one</a></li>
						<li><a href="http://ng-learn.org/2014/03/AngularJS-2-Status-Preview/">2.0 preview</a></li>
					</ul>
				</section>
				<section>
					<section>
						<h1>build an app</h1>
					</section>
					<section>
						<h2>create input</h2>
						<li>learn how this creates scope</li>
						<li>how the changes is done and displays</li>
						<li></li>
					</section>
					<section>
						<h1>starts</h1>
						<p>discuss how two way bindings and ng-repeat works</p>
						<a href="http://thenittygritty.co/angularjs-pitfalls-using-scopes">good: in depth</a>
					</section>
				</section>
				<section>
					<section>
						<h1>Magic</h1>
					</section>
					<section>
						<h2>two phases</h2>
						<ul>
							<li class="fragment">Compilation phase</li>
							<li class="fragment">Runtime phase</li>
						</ul>
					</section>
					<section>
						<h2>Compilation Phase</h2>
						<pre><code>
&lt;input ng-model="name"&gt;
						</code></pre>
						<ul>
							<li class="fragment">input with ng-model becomes angular directive</li>
							<li class="fragment">setup a keydown listener to input</li>
							<li class="fragment">Something in angular named: $interpolation</li>
							<li class="fragment">interpolation: markup with expression => string </li>
							<li class="fragment">interpolation setup a $watch</li>
							<li class="fragment">$watch will be notified if "name changes"</li>
						</ul>
						<br>
						<br>
						<a href="http://stackoverflow.com/a/17901134">$compile vs $interpolate vs $parse</a>
					</section>
					<section>
						<h2>Runtime Phase</h2>
						<ol>
							<li class="fragment">When you press 'X'</li>
							<li class="fragment">Browser emits a keydown event on input</li>
							<li class="fragment"> input directive captures change</li>
							<li class="fragment"> calls $apply("name = 'X';") to update model</li>
							<li class="fragment">Angular applies the name = 'X'; to the model</li>
							<li class="fragment">The $digest loop begins</li>
							<li class="fragment">$watch list detects change notifies $interpolation</li>
							<li class="fragment">$interpolation updates the DOM by $parse</li>
							<li class="fragment">angular finishes keydown event</li>
							<li class="fragment">browser render new text</li>
						</ol>
						<br>
						<br>
						<a href="https://docs.angularjs.org/guide/scope#scope-watch-performance-considerations">scope performance considerations</a>
					</section>
				</section>
				<section>
					<section>
						<h1>Scope</h1>
					</section>
					<section>
						<h2>Scopes</h2>
						<ul>
							<li>JavaScript Object</li>
							<li>Prototypical Inheritance</li>
							<li class="fragment">Arranged in hierarchical structure</li>
							<li class="fragment">Mimic the DOM structure of the application</li>
							<li class="fragment">Stores an array of functions $$watchers</li>
							<li class="fragment">Can watch expressions and propagate events.</li>
							<li class="fragment">new scope creates more values for GC to collect later</li>
						</ul>
						<br>
						<br>
						<a href="https://github.com/angular/angular.js/wiki/Understanding-Scopes">understanding scope</a>
					</section>
					<section>
						<h2>scope life cycle</h2>
						<ul>
							<li></li>
						</ul>
						<br>
						<a href="https://docs.angularjs.org/guide/scope#scope-life-cycle">scope life cycle</a>
					</section>
					<section>
						<h2></h2>
						<ul>
							<li>small scope will be faster than larger</li>
							<li></li>
							<li>get some points</li>
							<li>will talk about this later</li>
						</ul>
						<br>
						<br>
						<a href="https://www.airpair.com/angularjs/posts/angularjs-performance-large-applications">Very good: angularjs-performance-large-applications</a>
					</section>
				</section>
				<section>
					<section>
						<h1>ng-show</h1>
					</section>
					<section>
						<h2>how it works</h2>
						<ul>
							<li>show or hide html elment</li>
							<li>based on an expression</li>
							<li>by adding and removing .ng-hide class</li>
							<li class="fragment">will create and evaluate hidden elements</li>
							<li class="fragment">display none</li>
						</ul>
						<br>
						<br>
						<a href="http://youtu.be/zyYpHIOrk_Y?t=10m38s">start from here</a>
					</section>
					<section>
						<h2>ng-if</h2>
						<ul>
							<li>completely removes and recreate DOM</li>
							<li class="fragment">elements which is not in ur DOM, has less impact</li>
							<li class="fragment">ng-if creates a child scope while ng-show/ng-hide does not</li>
							<li class="fragment">ng-switch does the same thing</li>
						</ul>
					</section>
					<section>
						<h2>what should i use?</h2>
						<ul>
							<li></li>
							<li class="fragment">How frequently will this change?</li>
							<li class="fragment">the more frequent, the worse fit ng-if is</li>
							<li class="fragment">How heavy is the scope?</li>
							<li class="fragment">the heavyer, the better fit ng-if is</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>ng repeat</h1>
					</section>
					<section>
						<h2>how ng-repat works</h2>
						<ul>
							<li>Iterates over each item</li>
							<li>Runs via filters, if any</li>
							<li>Calculates a hash value to identify the object has already created a DOM</li>
							<li>If so, it reuses it</li>
							<li>If not, creates DOM based on ng-repeat template</li>
							<li>Insert into the actual DOM</li>
							<li>A watch is added on the array, which triggers step 1 again if the array undergoes any change</li>
						</ul>
						<br>
						<br>
						<a href="http://www.befundoo.com/blog/optimizing-ng-repeat-in-angularjs/">two ng repeat improvement suggestion</a>
					</section>
					<section>
						<h2>ng-include in ng-repeat</h2>
						<ul>
							<li>Each time -</li>
							<li class="fragment">clone ngInlcude directive to run a link function</li>
							<li class="fragment">injects content</li>
							<li class="fragment">calls $compile</li>
							<li class="fragment">html in the ng-include needs to be parse again and again</li>
						</ul>
						<br>
						<br>
						<a href="http://www.bennadel.com/blog/2738-using-ngrepeat-with-nginclude-hurts-performance-in-angularjs.htm">ng repeat with nginclude</a>
					</section>
					<section>
						<h4>browser will spend time to parse html for each item</h4>
						<img src="images/ngInclude.png" alt="">
					</section>
					<section>
						<h2>What can i do?</h2>
						<pre><code>
&lt;li ng-repeat=&quot;item in filteredItems()&quot;&gt; 
						</code></pre>
						<pre class="fragment"><code> 
&lt;li ng-repeat=&quot;item in items&quot;&gt;
						</code></pre>
					</section>
					<section>
						<h2>what can i do?</h2>
						<ul>
							<li>Pagination</li>
							<li class="fragment">limitTo</li>
						</ul>
						<pre class="fragment"><code>
&lt;table&gt;
    &lt;tr ng-repeat=&quot;d in data | limitTo:totalDisplayed&quot;&gt;
        &lt;td&gt;{{d}}&lt;/td&gt;
   &lt;/tr&gt;
&lt;/table&gt;
						</code></pre>
						<li class="fragment">debounce user input (searching)</li>
						<br>
						<br>
						<a href="http://tech.small-improvements.com/2013/09/10/angularjs-performance-with-large-lists/">tuning long list</a>
					</section>
					<section>
						<h2>ng Infinite Scroll</h2>
						<ul>
							<li>don't load everything use ng infinite scroll</li>
						</ul>
						<a href="http://binarymuse.github.io/ngInfiniteScroll/">read about ngInfiniteScroll</a>
					</section>
					<section>
						<h2>filter in ng-repeat</h2>
						<p>Avoid using filters if at all possible. They are run twice per digest cycle, once when anything changes, and another time to collect further changes, and do not actually remove any part of the collection from memory, instead simply masking filtered items with css</p>
						<p>This renders $index worthless as it no longer corresponds to the actual array index, but the sorted array index. It also prevents you from letting go of all of the list's scopes.</p>
					</section>
					<section>
						<h2>track by</h2>
						<li>By default, ng-repeat creates a dom node for each item and destroys that dom node when the item is removed.</li>
						<li>With track by $index, it will reuse dom nodes.</li>
						<pre class="fragment"><code>
&lt;div ng-repeat=”item in array”&gt;
  I live and die by {{item}}.
&lt;div&gt;
						</code></pre>
						<pre class="fragment"><code>
&lt;div ng-repeat=”item in array track by $index”&gt;
  I live until {{array.length}} is
  less than {{$index}}.
&lt;div&gt;
						</code></pre>
						<br>
						<a href="http://www.codelord.net/2014/04/15/improving-ng-repeat-performance-with-track-by/">ng-repeat performance by track by</a>
					</section>
					<section>
						<h2>bind once</h2>
						<a href="https://github.com/Pasvaz/bindonce">git: bindonce</a>
					</section>
					<section>
						<h2>summary ng repeat</h2>
						
					</section>
				</section>
				<section>
					<section>
						<h1>Digest cycle</h1>
					</section>
					<section>
						<h2></h2>
						<a href="https://www.airpair.com/angularjs/posts/angularjs-performance-large-applications">section 9</a>
					</section>
					<section>
						<h2></h2>
						<p>Each time a Model is updated, either through user input in the View, or via service input to the Controller, Angular runs something called a $digest cycle.</p>
						<p>This cycle is an internal execution loop that runs through your entire application’s bindings and checks if any values have changed. If values have changed, Angular will also update any values in the Model to return to a clear internal state. </p>
						<p>When we create data-bindings with AngularJS, we’re creating more $$watchers and $scope Objects, which in turn will take longer to process on each $digest.</p>
					</section>
					<section>
						<h2></h2>
						<a href="http://www.aaron-gray.com/delaying-the-digest-cycle-in-angularjs/">delay digest cycle</a>
					</section>
				</section>
				<section>
					<section>
						<h1>watcher</h1>
					</section>
					<section>
						<h2>how angular updates</h2>
						<ul>
							<li class="fragment">remembers the value and compares it to previous value</li>
							<li class="fragment"> basic dirty-checking</li>
							<li class="fragment">If there is a change in value, then it fires the change event.</li>
							<li class="fragment">not everything in scope gets watch</li>
						</ul>
					</section>
					<section>
						<h2>Implicit watcher</h2>
						<ul>
							<li class="fragment">{{myExpression}}</li>
							<li class="fragment">ng-repeat</li>
							<li class="fragment">ng-show, ng-hide</li>
							<li class="fragment">ng-if, ng-switch</li>
						</ul>
						<br>
						<br>
						<h4 class="fragment">A function gets added to the $$watchers array</h4>
						<aside class="notes">
							<p>Every time $watch is called on a scope value, or a value is bound from the DOM with interpolation, an ng-repeat, an ng-switch, and ng-if, or any other DOM attribute/element, a function gets added to the $$watchers array of the innermost scope.</p>
						</aside>
					</section>
					<section>
						<h2>explicit watcher</h2>
						<li>$watch allows the directives to be notified of property changes, which allows the directive to render the updated value to the DOM.</li>
						<pre class="fragment"><code>
$watch(watchExpression, listener, [objectEquality]);
						</code></pre>
						<p>Talk much about $watch</p>
						<aside class="notes">
							<p>Watching by value (scope.$watch (watchExpression, listener, true)) detects any change in an arbitrarily nested data structure. It is the most powerful change detection strategy, but also the most expensive. A full traversal of the nested data structure is needed on each digest, and a full copy of it needs to be held in memory.</p>
							<p>Angular provides the ability to watch entire objects by passing a third, optional true parameter to scope.$watch. This is, for lack of better words, a terrible idea. A much better solution is to rely on services and object references to propagate object changes between scopes.</p>
						</aside>
					</section>
					<section>
						<p>When any value in scope changes, all watchers in the $$watchers array will fire, and if any of them modify a watched value, they will all fire again. This will continue until a full pass of the $$watchers array makes no changes, or AngularJS throws an exception.</p>
						<p>if non-Angular code is run through $scope.$apply(), this will immediately kickstart the digest cycle.</p>
						<p>The final note is that $scope.evalAsync() will run code in an async loop that does NOT trigger another digest cycle, and which will run at the end of the current/next digest cycle.</p>
					</section>
					<section>
						<img src="images/scopeWatch.png" alt="">
						<br>
						<a href="https://docs.angularjs.org/guide/scope#scope-watch-performance-considerations">watch performance consideration</a>
					</section>
					<section>
						<h2>count watcher</h2>
						<h2>use this explanation style</h2>
						<a href="http://angular-tips.com/blog/2013/08/watch-how-the-apply-runs-a-digest/">nice explanation</a>
					</section>
					<section>
						<h2>do as little as possible</h2>
						<ul>
							<li class="fragment">Avoid binding function directly to ng-show, ng-repeat, etc.</li>
							<li class="fragment">Avoid watch a function result directly</li>
							<li class="fragment">This function will run on every digest cycle</li>
							<li class="fragment">will slow your application</li>
							<li class="fragment"></li>
						</ul>
						<br>
						<br>
						<a href="http://stackoverflow.com/questions/9682092/databinding-in-angularjs/9693933#9693933">Misko answer</a>
					</section>
					<section>
						<h2>had a code block to count number of watch</h2>
						<a href="https://medium.com/@kentcdodds/counting-angularjs-watchers-11c5134dc2ef">count number of watch</a>
					</section>
					<section>
						<h2>aggregate watcher</h2>
						<p>All that time spent invoking change watchers was mostly wasted. </p>
						<p>To address this, we created a directive that “hides” the change watchers of its children, allowing them to be invoked only when the value of a specified parent expression changes. With this change, we avoided invoking thousands of per-word change watchers on every mouse click or other minor event.  </p>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<a href="http://blog.scalyr.com/2013/10/angularjs-1200ms-to-35ms/"> optimization 2: 1200ms-to-35ms</a>
					</section>
					<section>
						<h2></h2>
						<ul>
							<li>whatever is the first argument will be executed, many many times</li>
							<li>it will compare values by reference</li>
							<li>but if you pass "true" in the </li>
							<li>deep - recurse through object with deep comparision; slow recurses- </li>
							<li>also make a deep copy each time watched, to compare </li>
						</ul>
						<h4>avoid deep watch each time possible</h4>
					</section>
					<section>
						<h2>watchCollection</h2>
						<p>google it</p>
					</section>
					<section>
						<h2>remove unneeded watcher</h2>
						<a href="http://angular-tips.com/blog/2013/08/removing-the-unneeded-watches/">check this one</a>
					</section>
					<section>
						<h2>watch only what needed</h2>
						<li>sometimes, deep watch is needed but not the whole object</li>
						<li>By stripping out irrelevant data, we can make the comparison much faster.</li>
						<pre><code>
$scope.$watch(‘listOfBigObjects’,
    myHandler, true);
						</code></pre>
					</section>
					<section>
						<pre><code>
$scope.$watch(function($scope) {
  return $scope.listOfBigObjects.
      map(function(bigObject) {
        return bigObject.foo.
            fieldICareAbout;
      });
}, myHandler, true);
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h1>binding</h1>
					</section>
					<section>
						<h2>one time binding</h2>
						<a href="https://docs.angularjs.org/guide/expression#one-time-binding">one time binding</a>
					</section>
				</section>
				<section>
					<section>
						<h1>$apply() vs $digest()</h1>
												
					</section>
					<section>
						<h2></h2>
						<ul>
							<li>$apply does rootscope.digest</li>
							<li>this means everything: that scope and all its descendent are dirty checked</li>
							<li>when u r writing a directive and inside that u r doing something. then u should use digest than apply</li>
						</ul>
					</section>
					<section>
						<h2></h2>
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<a href="http://www.binpress.com/tutorial/speeding-up-angular-js-with-simple-optimizations/135">code example in the middle</a>
					</section>
				</section>
				<section>
					<section>
						<h1>directive</h1>
					</section>
					<section>
						<a href="http://www.bennadel.com/blog/2737-directive-templates-have-a-small-impact-on-performance-in-angularjs.htm">directive template has small impact on performance</a>
					</section>
					<section>
						<ul>
							<li>when directive inside ng repeat</li>
							<li>1. compile is called only once</li>
							<li>link and constructor is called once per iteration</li>
						</ul>
						<h4>so put as much as possible inside compile</h4>
						
					</section>
					<section>
						<pre><code>
myApp.directive(function() {
  return {
    link: function(s, elem, attr) {
      s.foo = scope.$eval(attr.foo);
      scope.$watch(attr.list,
          function(list) {
            // do something
          }, true);
    }};});
						</code></pre>
						<a href="https://docs.google.com/presentation/d/15XgHRI8Ng2MXKZqglzP3PugWFZmIDKOnlAXDGZW2Djg/edit#slide=id.g47be57cd_05">directive</a>
					</section>
					<section>
						<pre><code>
myApp.directive(function($parse) {
  return {
    compile: function(elem, attr) {
      var fooExp = $parse(attr.foo),
          listExp = $parse(attr.list);
      return function link(s, elem) {
        s.foo = fooExp(s);
        scope.$watchCollection(listExp,
            function(list) {
              // do something
            });
      };}};});

						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h1>transclusion and scope</h1>
						<a href="http://angular-tips.com/blog/2014/03/transclusion-and-scopes/">see whether to include or not</a>
					</section>
				</section>
				<section>
					<section>
						<h1>why slow</h1>
					</section>
					<section>
						<h2>what makes angular slow</h2>
						<h3>in efficient directive</h3>
						<ul>
							<li>link vs compile</li>
							
						</ul>
						<h3>dirty checking</h3>
						<ul>
							<li>lots of watcher</li>
							<li>lots of slow watcher</li>
							<li>too many calls to apply</li>
						</ul>
						<a href="https://www.youtube.com/watch?v=zyYpHIOrk_Y">ng conf video</a>
					</section>
				</section>
				<section>
					<section>
						<h1>filter</h1>
					</section>
					<section>
						<h2></h2>
						<a href="http://www.binpress.com/tutorial/speeding-up-angular-js-with-simple-optimizations/135">at the bottom: limit DOM filter</a>
					</section>
				</section>
				<section>
					<section>
						<h1>extra</h1>
					</section>
					<section>
						<h2>nice collection</h2>
						<a href="http://www.cabotsolutions.com/2014/08/5-tips-to-improve-performance-in-angularjs-cordova-hybrid-applications/">talk about emit, broadcast and bootstrap</a>
					</section>
					<section>
						<h2></h2>
						<li>$parse vs $eval vs interpolation</li>
						<li>parse: tokenise</li>
						<li>better: call parse once. save it</li>
						<li>and do eval everytime u needed</li>
						<a href="http://youtu.be/zyYpHIOrk_Y?t=5m55s">ng conf video</a>
					</section>
					<section>
						<h2>use scope.$digest for performance</h2>
						<a href="http://www.bennadel.com/blog/2595-using-scope-digest-as-a-performance-optimization-in-angularjs.htm">scope.digest as perf imp</a>
					</section>
					<section>
						<h2>comparing</h2>
						<a href="http://ng-perf.com/">ng-perf.com</a>
					</section>
					<section>
						<h2>batching http request</h2>
						<a href="http://jonsamwell.com/batching-http-requests-in-angular/">batching http request</a>
					</section>
					<section>
						<h2>mouseEnter</h2>
						<a href="https://www.linkedin.com/pulse/20140528193614-17422516-jailbreaking-angular-apps-a-real-story-about-an-experience-i-had-recently">check middle for mouse enter</a>
					</section>
					<section>
						<li><a href="http://mono.software/posts/Improving-AngularJS-long-list-rendering-performance-using-ReactJS/">use react for long list</a></li>
						<li><a href="http://www.williambrownstreet.net/blog/2014/04/faster-angularjs-rendering-angularjs-and-reactjs/">faster js rendering with reactjs</a></li>
						<li></li>
						<li><a href="http://blog.altoros.com/speed-up-i18n-in-angularjs.html">speed up with internationalization library</a></li>
					</section>
				</section>
				<section>
					<section>
						<h1>ngReact</h1>
						<a href="http://davidchang.github.io/ngReact/">check example</a>
					</section>
				</section>
				<section>
					<section>
						<h1>summary</h1>
						<a href="https://www.airpair.com/angularjs/posts/angularjs-performance-large-applications">have a summary at bottom</a>
						<br>
						<a href="https://medium.com/@jeffwhelpley/is-angularjs-fast-enough-98dcf96406c8">might get points for summary</a>
						<br>
						<a href="http://www.fse.guru/angularjs-performance-tips">a list with repetitive stuff</a>
					</section>
					<section>
						<h2></h2>
					</section>
				</section>
				<section>
					<section>
						<h2>How to check perfomance</h2>
						<h4>(if no wifi)</h4>
					</section>
					<section>
						<img src="images/audit1.png" alt="">
					</section>
					<section>
						<img src="images/audit.png" alt="">
					</section>
					<section>
						<img src="images/network1.png" alt="">
					</section>
				</section>
				<section>
					<section>
						<h1>Free tip</h1>
					</section>
					<section>
						<h2>Look Busy at Work</h2>
						<ol>
							<li class="fragment">Ctrl + 1 when big brother is around</li>
							<br>
							<li class="fragment">Always carry extra bag and print out</li>
							<li class="fragment">do ur personal work, but leave after ur manager</li>
							<br>
							<li class="fragment">always leave a extra jacket on your chair</li>
							<li class="fragment">compose email during office hours, send it midnight or weekends</li>
						</ol>
						<br>
						<br>
						<br>
						<a href="http://www.wikihow.com/Look-Busy-at-Work-Without-Really-Working">Look busy</a>
					</section>
				</section>
				<section>
					<section>
						<h1>One thing</h1>
					</section>
					<section>
						<h2>snippets are awesome</h2>
					</section>
				</section>
				<section>
					<h2><a href="http://goo.gl/mfKvWP">goo.gl/mfKvWP</a></h2>
					<img src="images/turkey.png" alt="">
					<img class="fragment" src="images/eatBeef.gif" alt="">
					<p>
						<h3>
							<a href="http://www.thatjsdude.com/">www.thatJSdude.com</a> / <a href="http://twitter.com/mdkhan005">@mdkhan005</a>
						</h3>
					</p>
					<p>(youtube.com/user/khanLearning)</p>
				</section>
			</div>
		</div>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
