<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app>
	<div>
	    <ul ng-init="friends = ['Igor', 'Misko', 'Vojta']">
		    <li ng-repeat="frnd in friends">{{frnd}}</li>
	    </ul>
        <ul ng-init="friendObj = [
									{name: 'Igor', favLib: 'Angular'},
									{name: 'Misko', favLib: 'Angular'},
									{name: 'Jeremy', favLib: 'Backbone'}
        						]">
    	    <li ng-repeat="frnd in friendObj">{{frnd.name}}</li>
        </ul>
	</div>
	<script src="angular.min.js"></script>
	
</body>
</html>